.banner{
    &-area{
        position: relative;
        height: 100vh;
        .container{
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & .herotopleftImg{
                position: absolute;
                left: 44px;
                top: calc(45% - 256px);
                max-width: 230px;
                z-index: 1;
                user-select: none;
                @include xl{
                    top:calc(32% - 90px);
                    max-width: 180px;
                }
                @include lg{
                    top:calc(32% - 90px);
                    max-width: 180px;
                }
                @include mmd{
                    top:calc(45% - 155px);
                    max-width: 120px;
                }
                @include sm{
                    top: calc(45% - 131px);
                    max-width: 120px;
                    left: -19px;
                }
                @include ssm{
                    max-width: 80px;
                    top:calc(30% - 110px);
                    left: -10px;
                }
            }
            
            & .commentLeft{
                position: absolute;
                left: 0;
                top:45%;
                max-width: 300px;
                transform: translateY(-50%);
                z-index: 9999;
                cursor: pointer;
                @include xl{
                    max-width: 250px;
                }
                @include lg{
                    max-width: 250px;
                }
                @include mmd{
                    max-width: 200px;
                }
                @include sm{
                    max-width: 148px;
                    margin: 0;
                }
                @include ssm{
                    max-width: 130px;
                    top: 30%;
                }
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin-top: -10px;
                    margin-left: 10px;
                    font-size: 26px;
                    @include xl{
                        font-size: 23px;
                    }
                    @include lg{
                        font-size: 20px;
                    }
                    @include md{
                        font-size: 17px;
                    }
                    @include sm{
                        font-size: 14px;
                    }
                    @include ssm{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &-content{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        .banner-topImg{
            position: relative;
            display: inline-block;
            z-index: 1;
            margin-bottom: 20px;
            @include sm{
                margin-bottom: 0;
            }
            p{
               @include font-15;
               letter-spacing: 0.48px;
               color: $black;
               position: absolute;
               top: -25px;
               left: 30px;
               transform: rotate(-19.764deg);
               @include sm{
                left: 10px;
               }
               @include ssm{
                left: 11px;
                width: max-content;
               }
            }
            img{
                max-width: 200px;
                @include mmd{
                    max-width: 180px;
                }
                @include sm{
                    max-width: 160px;
                }
                @include ssm{
                    max-width: 120px;
                }
            }
        }
        h1{
            letter-spacing: 2.2px;
            text-transform: capitalize;
            margin: 0;
            margin-bottom: 5px;
        }
        h3{
            letter-spacing: 0.52px;
            background: linear-gradient(0deg, #000 0%, rgba(102, 102, 102, 0.00) 115.28%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            margin-top: 0px;
            margin-bottom: 20px;
        }
        h2{
            letter-spacing: 0.8px;
            margin-top: 12px;
            margin-bottom: 30px;
        }
        .btns{
            position: relative;
            display: inline-block;
            margin-bottom: 30px;
            @include ssm{
                margin-bottom: 15px;
            }
            .workintImg{
                position: absolute;
                left: -125px;
                top: 50%;
                margin: 0;
                max-width: 183px;
                transform: translateY(-50%);
                z-index: -1;
                @include sm{
                    left: -105px;
                    top: 50%;
                    margin: 0;
                    max-width: 100px;
                    transform: translateY(-50%);
                }
                @include ssm{
                    left: 0px;
                    max-width: 80px;
                    top: 40px;
                    transform: translateY(-95%);
                }
            }
            .boxed-btn{
                margin:0px 13.4px;
                margin-bottom: 10px;
                @include ssm{
                    margin-bottom: 10px;
                    min-width: 150px;
                    padding: 8px 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.bottomRightImg{
    position: absolute;
    right: 10%;
    bottom: 0;
    max-width: 220px;
    margin: 0;
    padding: 0;
    @include lg{
        max-width: 200px;
    }
    @include md{
        max-width: 160px;
    }
    @include sm{
        max-width: 130px;
    }
}


//for popup

.ReactModalPortal {
    position: relative;
    z-index: 999999;
    padding: 24px;
    .ReactModal__Content {
        border-radius: 10px;
    }
    & .closeBtn{
        position: absolute;
        top: 24px;
        right: 24px;
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: .3s;
        &::hover svg{
            opacity: .3;
        }
    }
    & .popup-content{
        img{
            max-width: 109px;
        }
    }
    img{
        max-width: 215px;
    }

    .popupRightImg {
        position: absolute;
        right: 37px;
        bottom: 0;
        max-width: 215px;
        @include sm{
            max-width: 160px;
            right: 20px;
        }
        @include ssm{
            max-width: 100px;
        }
    }
    
    .popup-content p {
        max-width: 284px;
        font-size: 18px;
    }
    
    .popup-content {
        width: 520px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        background: #fff;
        @include sm{
            width: 350px;
        }
        @include ssm{
            width: 300px;
            padding-top: 8px;
            padding-left: 8px;
            padding-bottom: 8px;
        }
    }
    
    .popup-content h5 {
        font-size: 20px;
    }
    
    .popup-content img {
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

.ReactModal__Content{
    bottom: 0;
}

.popup-content.gallery {
    width: 650px;
    padding: 0;
    text-align: center;
    background: transparent;
    @include sm{
        width: 380px !important;
    }
    @include ssm{
        width: 350px !important;
    }
}