.banner{
    &-area{
        position: relative;
        padding-top: 25px;
        padding-bottom: 30px;
        @include sm{
            padding-top: 15px;
            padding-bottom: 10px;
        }
        .container{
            position: relative;
            & .herotopleftImg{
                position: absolute;
                left: 10px;
                top:-30px;
                max-width: 160px;
                z-index: 9999;
                @include mmd{
                    max-width: 120px;
                    top:0px;
                }
                @include sm{
                    max-width: 100px;
                    margin: 0;
                    top:10px;
                }
                @include ssm{
                    max-width: 80px;
                    top:calc(30% - 90px)
                }
            }
            
            & .commentLeft{
                position: absolute;
                left: 0;
                top:32%;
                max-width: 180px;
                transform: translateY(-50%);
                z-index: 9999;
                cursor: pointer;
                @include mmd{
                    max-width: 160px;
                }
                @include sm{
                    max-width: 130px;
                    margin: 0;
                }
                @include ssm{
                    max-width: 100px;
                    top: 30%;
                }
            }
        }
    }
    &-content{
        text-align: center;
        .banner-topImg{
            position: relative;
            display: inline-block;
            z-index: 1;
            margin-bottom: 10px;
            @include sm{
                margin-bottom: 0;
            }
            p{
               @include font-15;
               letter-spacing: 0.48px;
               color: $black;
               position: absolute;
               top: -20px;
               left: 10px;
               transform: rotate(-19.764deg);
               @include sm{
                left: 10px;
               }
               @include ssm{
                left: -18px;
                width: max-content;
               }
            }
            img{
                max-width: 120px;
                @include mmd{
                    max-width: 100px;
                }
                @include sm{
                    max-width: 80px;
                }
                @include ssm{
                    max-width: 60px;
                }
            }
        }
        h1{
            letter-spacing: 2.2px;
            text-transform: capitalize;
            margin: 0;
        }
        h3{
            letter-spacing: 0.52px;
            background: linear-gradient(0deg, #000 0%, rgba(102, 102, 102, 0.00) 115.28%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            margin-top: 0px;
            margin-bottom: 0;
        }
        h2{
            letter-spacing: 0.8px;
            margin-top: 12px;
            margin-bottom: 15px;
        }
        .btns{
            position: relative;
            display: inline-block;
            margin-bottom: 20px;
            @include ssm{
                margin-bottom: 5px;
            }
            .workintImg{
                position: absolute;
                left: -115px;
                top: 80%;
                transform: translateY(-50%);
                margin: 0;
                max-width: 70px;
                @include sm{
                    left: -10px;
                    top: auto;
                    max-width: 70px;
                    bottom: 0;
                }
            }
            .boxed-btn{
                margin:0px 13.4px;
                @include ssm{
                    margin-bottom: 10px;
                    min-width: 150px;
                    padding: 8px 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.bottomRightImg{
    position: absolute;
    right: 10%;
    bottom: 0;
    max-width: 220px;
    margin: 0;
    padding: 0;
    @include lg{
        max-width: 200px;
    }
    @include md{
        max-width: 160px;
    }
    @include sm{
        max-width: 130px;
    }
}