@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Passion+One:wght@400;700;900&display=swap');
html, html body{
    overflow-x: hidden;
    user-select: none
}

body {
    @include architects-daughter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    background-color: $white;
    color: $black;
    position: relative;
    height: 100vh;
}
:root{
    cursor: url('../img/cursorpencil.svg') 4 12, auto
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
};

h1{
    @include font-140;
}
h2{
    @include font-50;
}
h3{
    @include font-35; 
}
p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}
figure{
    margin-bottom: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
*{
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none !important;
    @include transition;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}

.container {
   max-width: 1480px;
   margin-inline: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.boxed-btn{
    display: inline-block;
    padding: 15px 40px;
    border-radius: 8px;
    border: 1px solid $black;
    font-size: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    @include passion-one;
    color: $black;
    position: relative;
    z-index: 99;
    @include lg{
        padding: 18px 36px;
        font-size: 30px;
    }
    @include md{
        padding: 16px 32px;
        border-radius: 5px;
        font-size: 36px;
    }
    @include sm{
        padding: 15px 30px;
        font-size: 22px;
    }
    & img{
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 35px;
    }
    &:hover{
        background-color: $black;
        color: $white;
    }
}
.boxed-btn.dark-bg{
    color: $white;
    background-color: $black;
}

#drawingCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 9;
}


.commentRight{
    position: absolute;
    right: 0;
    top:57%;
    max-width: 320px;
    transform: translateY(-50%); 
    z-index: 99;
    cursor: pointer;   
    user-select: none;
    @include xl{
        top:45%;
        max-width: 250px;
    } 
    @include lg{
        top:45%;
        max-width: 250px;
    }        
    @include mmd{
        top:45%;
        max-width: 200px;
    }
    @include sm{
        max-width: 148px;
        right: 0px;
        margin-right: 0;
    }
    @include ssm{
        max-width: 130px;
        top: 40%;
        margin: 0;
    }
    
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -10px;
        margin-left: -10px;
        font-size: 22px;
        width: max-content;
        @include xl{
            font-size:20px;
        }
        @include lg{
            font-size: 17px;
        }
        @include md{
            font-size: 15px;
        }
        @include sm{
            font-size: 14px;
            margin-top: -5px;
        }
        @include ssm{
            font-size: 12px;
        }
    }
}
.herotoprightImg{
    position: absolute;
    right: 50px;
    top:calc(57% - 170px);
    max-width: 220px;
    transform: translateY(-50%); 
    z-index: 1;
    cursor: pointer; 
          
    @include xl{
        right: 30px;
        max-width: 180px;
        top:calc(45% - 130px);
    }
    @include lg{
        right: 30px;
        max-width: 180px;
        top:calc(45% - 130px);
    }          
    @include mmd{
        right: 48px;
        max-width: 120px;
        top: calc(45% - 100px);
    }
    @include sm{
        right: 26px;
        max-width: 90px;
        top: calc(45% - 85px);
        margin: 0;
    }
    @include ssm{
        right: 29px;
        top: calc(40% - 70px);
        max-width: 70px;
        margin: 0;
    }
}

.popupgallery img {
    margin: 0 !important;
    max-width: 600px !important;
    border-radius: 24px !important;
    @include sm{
        border-radius: 10px  !important;
    }
}

.swiper-button-prev:after {
    content: url('/src/assets/img/arrowLeft.png');
}
.swiper-button-next:after{
    content: url('/src/assets/img/arrowRight.png'); 
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background: rgba(0, 0, 0, 0.40) !important;
    backdrop-filter: blur(5px) !important;
}
.download-btn{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 360px;
    width: 80px;
    height: 80px;
    z-index: 999;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover{
        background-color: #6A6A6A;
    }
    @include lg{
        top: 30px;
        right: 130px;
    }
    @include mmd{
        top: 30px;
        right: 150px;
    }
    @include sm{
        width: 60px;
        height: 60px;
        top: 2px !important;
        right: 52px !important;
    }
}
.download-btn svg path{
    fill: #6A6A6A !important;
    transition: all .3s ease-in-out;
}

.download-btn:hover svg path {
    fill: #fff !important;
}

.popup-gallery-container {
    position: relative;
  }
  
  .custom-next-button {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the distance from the right as needed */
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999; /* Ensure it's above the Swiper */
  }
  .ReactModal__Content.ReactModal__Content--after-open {
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    z-index: -1 !important;
}

.popup-content.gallery {
    width: 1270px !important;
    @include lg{
        width: 760px !important;
    }
    @include md{
        width: 760px !important;
    }
}

.swiper-button-prev {
    left: 27px;
}

.swiper-button-next {
    right: 27px;
}

.swiper-slide img{
    width: 620px !important;
    &:hover{
        opacity: 1 !important;
    }
    @include lg{
        width:550px !important
    }
    @include md{
        width:500px !important
    }
    @include sm{
        width:280px !important
    } 
    @include ssm{
        width:250px !important
    }       
}









.tokenModal.btns {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-top: 39px;
    @include sm{
        padding: 10px 15px;
        gap: 10px;
    }

    a{
        font-size: 37px;
        @include sm{
            font-size:18px;
            padding: 12px 20px;
        }
    }
}


.tokenContent-inner {
    margin: 0;
    border-bottom: 4px solid #E6E6E6;
    padding: 30px;
    @include sm{
        padding: 10px;
        border-bottom: 2px solid #E6E6E6;
    }
}

.closeModal {
    margin-left: calc(50% - 30px);
    cursor: pointer;
    border: 0;
    background-color: transparent;
}