.copytoclipboard-inner {
    position: relative;
    max-width: 730px;
    margin-inline: auto;
    .copytoclipboard {
        position: relative;
        padding: 12px 24px;
        border-radius: 8px;
        border: 1px solid #B4B4B4;
        background: rgba(0, 0, 0, 0.02);
        max-width: 730px;
        margin-inline: auto;
        z-index: 99;
        @include sm{
            width: 90%;
            padding: 10px 8px
        }
        @include ssm{
            width: 95%;
            overflow: hidden;
        }
        p {
            font-size: 25px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            @include passion-one;
            opacity: 0.8;
            @include xl{
                font-size: 23px;
            }
            @include lg{
                font-size: 23px;
            }
            @include mmd{
                font-size: 22px;
            }
            @include sm{
                font-size: 18px;
            }
            @include ssm{
                font-size: 14px;
            }
        }
        button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            border: 0;
            background: #FAFAFA;
            padding: 0 4px;
            @include sm{
                right: 0px;
                padding: 0px 10px;
                height: 80%;
                @include ssm{
                    padding: 0px 4px;
                }
            }
            img {
                max-width: 20px;
            }
        }
    }
}