.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img  {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    width:120px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        opacity: .8;
    }
}
