.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gallery img  {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    width:160px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        opacity: .8;
    }
    @include lg{
        width: 15%;
    }
    @include md{
        width: 15%;
    }
    @include sm{
        width: 20%;
    }
    @include ssm{
        width: 45%;
    }
}
