.header{
    &-area{
        padding-top: 15px;
        padding-bottom: 0px;
        @include sm{
            padding-top: 15px;
        }
    }
    &-inner{
        justify-content: space-between;
        align-items: center;
        .logo{
            position: relative;
            z-index: 99;
            pointer-events: none;
            @include sm{
                max-width: 50px;
            }
        }
        .socials{
            position: relative;
            li{
                display: inline-block;
                margin-left: 24px;
                @include sm{
                    margin-left: 10px;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    border-radius: 4.1px;
                    border: 1px solid $black;
                    width: 41px;
                    height: 41px;
                    position: relative;
                    z-index: 99;
                    &:hover{
                        background-color: $black;
                        color: $white;
                    }
                    & svg path{
                        @include transition;
                    }
                    &:hover svg path{
                        color: $white;
                        fill:$white !important
                    }
                    @include ssm{
                        width: 32px;
                        height: 32px;
                    }
                } 
            }
        }
    }
}